@import "../core/colors";

:export {
	primary: $p-8;
	primaryLight: $p-5;
	primaryDark: $primary;
	secondary: $s-8;
	secondaryLight: $s-5;
	secondaryDark: $secondary;

	error: $danger;
	errorLight: $e-5;
	errorDark: $danger;

	info: $i-8;
	infoLight: $i-5;
	infoDark: $info;

	success: $su-8;
	successLight: $su-5;
	successDark: $success;
}