$primary: #fca311;
$secondary: #001219;
$danger: #e14141;
$success: #7add22;
$info: #4db3e5;

$i-8: lighten($info, 10%);
$i-5: lighten($info, 25%);

$e-8: lighten($danger, 10%);
$e-5: lighten($danger, 25%);

$su-8: lighten($success, 10%);
$su-5: lighten($success, 25%);

$s-9: rgba($color: $secondary, $alpha: .85);
$s-8: rgba($color: $secondary, $alpha: .75);
$s-7: rgba($color: $secondary, $alpha: .65);
$s-6: rgba($color: $secondary, $alpha: .55);
$s-5: rgba($color: $secondary, $alpha: .45);
$s-4: rgba($color: $secondary, $alpha: .35);
$s-3: rgba($color: $secondary, $alpha: .25);
$s-2: rgba($color: $secondary, $alpha: .15);
$s-1: rgba($color: $secondary, $alpha: .05);

$p-9: rgba($color: $primary, $alpha: .85);
$p-8: rgba($color: $primary, $alpha: .75);
$p-7: rgba($color: $primary, $alpha: .65);
$p-6: rgba($color: $primary, $alpha: .55);
$p-5: rgba($color: $primary, $alpha: .45);
$p-4: rgba($color: $primary, $alpha: .35);
$p-3: rgba($color: $primary, $alpha: .25);
$p-2: rgba($color: $primary, $alpha: .15);
$p-1: rgba($color: $primary, $alpha: .05);
