html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: 400;
	line-height: 1.3;
	font-size: 0.875rem;
	color: $secondary;
}

.root-wrapper {
	height: 100vh;
	width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

button {
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	background: unset;
	cursor: pointer;
	display: flex;
}

.pop-up {
	transition: .2s;

	&:active {
		transform: scale(.85);
	}
}