.side-menu {
	background-color: #ffffff;
	width: 18.75rem;
	height: 80vh;
	border-radius: $border-radius;
	padding: $gutter;
	z-index: 2;
	box-shadow: $shadow;
	display: grid;
	align-self: center;
	transform: translateX(-100%);
	transition: .2s ease-in;

	&.active {
		transform: translateX(0);
	}
}