.profile-manager {
	background-color: #ffffff;
	border-radius: $border-radius;
	padding: $gutter;
	z-index: 2;
	box-shadow: $shadow;
	height: fit-content;
	transform: translateY(-100%);
	transition: .2s ease-in;
	display: flex;
	flex-direction: row;
	pointer-events: all;

	&.active {
		transform: translateY(0);
	}

	&_account {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-right: 2rem;
		color: $primary;
		text-decoration: none;

		svg {
			font-size: 2rem;
		}

		span {
			margin-left: .3rem;
		}
	}

}